body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

p {
  margin: 3px;
}

#container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  font-weight: bold;
  width: 600px;
  margin: 15px;
  padding: 5px;
  background: rgb(2,0,36);
  background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 35%, rgba(0,212,255,1) 100%);
  border-radius: 15px;
}

#container button {
  font: 20;
  font-weight: bold;
  height: 25px;
  color: navy;
  width: 250px;
  margin: 20px;
}

#container input {
  font: 24;
  height: 20px;
}

#container .video {
  margin: 5px;
  padding: 5px;
}

#container .video button {
  width: 100px;
  /* padding: 10px;
  margin: 10px; */
}

#container .video-input {
  width: 400px;
}



